@use '@modules/circuit-sketcher-core/dist/variables.scss' as vars;

.circuit-sketcher-app .canvas-container {
  width: 100%;
  height: 100%;
  position: relative;

  .canvas {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(vars.$circuit-sketcher-highlight-color, 0.5) 1px, transparent 1px);
    background-size: 50px 50px;
  }

  .draw-board-menu {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .canvas-action-bar,
  .library-action-bar {
    margin: 10px;
  }
  
  .draw-board-menu img {
    width: 23px;
    cursor: pointer;
  }
  
  .icon-btn {
    padding-bottom: 0;
  }
  
  .btn {
    outline: none;
    box-shadow: none;
  }

  input[type="file"] {
    display: none;
  }
}