@use "sass:color";

$btn-bg-color: #007bff;

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.370rem 0.70rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.10s ease-in-out, background-color 0.10s ease-in-out, border-color 0.10s ease-in-out, box-shadow 0.10s ease-in-out;

    background-color: $btn-bg-color;

    &:hover {
        background-color: color.adjust($btn-bg-color, $lightness: -20%);
    }

    &.disabled,
    &:disabled {
        opacity: 0.65;
        pointer-events: none;
        color: #fff;
        background-color: #6c757d;
    }
}

.btn-group {
    > .btn-group:not(:last-child) > .btn,
    > .btn:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    > .btn-group:not(:first-child) > .btn,
    > .btn:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}